<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %} {% endblock %}</title>
    {# Load the tag library #}
    {% load bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
{% load static %}
{#<link rel="stylesheet" href="{% static 'polls/style.css' %}">#}
</head>

{#source: https://getbootstrap.com/docs/4.0/components/navbar/ #}

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #BAE4D6;">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: xx-large; color: #1D634D">TutorMe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <form class="d-flex" role="search"> #potential future search bar
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> !-->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}" style="color: #2F846A;"><span>Home Page</span></a></li>
        {% load socialaccount %}
        {% if user.is_authenticated %}
            <!-- <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}" style="color: #2F846A;"><span>Profile</span></a></li> other navbar items-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #2F846A;">
                Settings </a>
                 <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}" style="color: #2F846A;"><span>View Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'editProfile' %}" style="color: #2F846A;"><span>Edit Profile</span></a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}" style="color: #2F846A;"><span>Logout</span></a></li>
                 </ul>
            </li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% provider_login_url 'google' %}" style="color: #2F846A;"><span>Login</span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<body>
{% block content %}
{% endblock %}
</body>


<footer>
{#    Source: https://getbootstrap.com/docs/5.2/examples/footers/ #}
    <footer class="py-3 my-4 fixed-bottom">
        <div class="border-bottom pb-3 mb-3"></div>
        <p class="text-center" style="color: #1D634D;">Team A-03</p>
    </footer>
</footer>
</html>