<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {# Load the tag library #}
    {% load bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
{% load static %}
{#<link rel="stylesheet" href="{% static 'polls/style.css' %}">#}
</head>

<div align="center">
    What type account would you like to create?
    <a class="btn btn-primary" href="/createStudent">Student</a>
    <a class="btn btn-primary" href="/createTutor">Tutor</a>
</div>
