{% extends 'base.html' %}
{% load socialaccount %}
{% load bootstrap5 %}
{% block title %}Tutor Me | Create Account{% endblock %}
{% block content %}
<div class = "container col-6 py-5" style = "max-width: 18rem;">
     <div class = "card justify-content-center border-dark mb-3" align="center">
          <div class = "card-header" >
              Please select an account type:
          </div>
          <div class = "card-body">
                  <form action="{% url 'account_type_choice' %}" method="post">
                      {% csrf_token %}
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-outline-secondary">
                              <input type="radio"  name="options" id="student_choice" autocomplete="off" value="student_choice">
                              <object data="../static/icons/student-person-2.svg" height="20" width="20"></object>
                              Student
                          </label>
                          <label class="btn btn-outline-secondary" for="tutor_choice">
                              <input type="radio"  name="options" id="tutor_choice" autocomplete="off" value="tutor_choice">
                              <object data="../static/icons/teacher-svgrepo-com.svg" height="20" width="20"></object>
                              Tutor</label>
                      </div>
                      <hr>
                      <input type="submit" class="btn btn-outline-primary" value="Continue" />
                      {% if error_message %} <p class="error">{{ error_message }}</p>
                      {% else %}
                          <p class="error"></p>
                      {% endif %}
                  </form>
          </div>
     </div>
</div>
{% endblock %}

