{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | Profile{% endblock %}
{% block content %}

{% load socialaccount %}
{% if user.is_authenticated %}

<div class="container col-6 py-5">
    <div class="card">
        <div class="card-header">
            <h3>Edit Profile</h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-3">
                            {{ form.first_name }}
                            <label for="fname">First Name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3">
                            {{ form.last_name }}
                            <label for="lname">Last Name</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    {{ form.email }}
                    <label for="email">Email</label>
                </div>
                <label style="margin-bottom: 5px;">Biography</label>
                {{ form.bio }}
            <button type="submit" name="editProfile" class="btn btn-success" style="margin-top: 20px">Edit Profile</button>
            </form>
        </div>
    </div>
    {% if user.profile.is_tutor %}
        <div class="card">
            <div class="card-header">
                <h3>Add/Remove Courses</h3>
            </div>
            <div class="card-body" id="searchC">
                <form action="#searchC" method="get">
                    {% csrf_token %}
                    <div class="row align-items-center">
                        <div class="col">
                            <input name="subject" type="text" placeholder="ex. CS">
                        </div>
                        <div class="col">
                            <input name="number" type="number" placeholder="ex. 3240">
                        </div>
                        <div class="col">
                            <button type="submit" name="searchCourses" class="btn btn-success">Search Courses</button>
                        </div>
                    </div>
                </form>
                {% if clist is None %}
                    <label style="margin-bottom: 20px">Search for courses you would like to add to your profile!</label>
                {% else %}
                    <div style="margin-bottom: 20px"></div>
                    <form action="#searchC" method="post">
                        {% csrf_token %}
                        {% if search_course_form is None %}
                            <label style="margin-bottom: 20px">Search for a valid course!</label>
                        {% else %}
                            {{ search_course_form }}
                            <button type="submit" name="addCourses" class="btn btn-success" style="margin-top: 20px; margin-bottom: 20px">Add Courses</button>
                        {% endif %}
                    </form>
                {% endif %}
                <div id="removeC"></div>
                <form action="#removeC" method="post" id="addCourseForm">
                    {% csrf_token %}
                    {% if courses is None %}
                        <label>You have no courses on your profile to remove.</label>
                    {% else %}
                    <label>Remove courses from your profile: </label>
                    {% for c in courses %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input">
                            <label class="form-check-label"> {{ c.subject }} {{ c.catalog_number }}</label>
                        </div>
                    {% endfor %}
                    <div>
                        <button type="submit" name="removeCourses" class="btn btn-success" style="margin-top: 20px">Remove Courses</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endif %}
</div>

{% endif %}

{% endblock %}
