{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | Home{% endblock %}
{% block content %}
<div class="container col-6 py-5">
    <div class="card">
        <div class="card-header">
            Home Page
        </div>
        <div class="card-body">
            {% load socialaccount %}
            {% if user.is_authenticated %}
            <p>Welcome, {{ user.first_name }}!</p>
            {% if user.profile.is_tutor %}
                <div class="row rounded" style="margin-left: 5px">
                    <div class="col rounded" style="background-color: #BAE4D6">
                        <label class="mt-2">New Requests!</label>
                        <label> [insert little box with up to 5 new requests to respond to] </label>
                    </div>
                    <div class="col-5">
                        <div class="col rounded" style="background-color: #BAE4D6">
                            <label class="mt-2" style="margin-left: 5px">Upcoming Appointment! </label>
                            <label class="mb-2" style="margin-left: 5px">[Show details of next tutoring session, including description]</label>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if user.profile.is_student %}
                <div class="row rounded" style="margin-left: 5px">
                    <div class="col rounded" style="background-color: #BAE4D6">
                        <div style="padding-top: 10px"></div>
                        <b>View Recently Approved/Denied Requests!</b>
                        <label> [insert little box with maybe last 5 request decisions or smthg] </label>
                    </div>
                    <div class="col-5">
                        <div class="col rounded" style="background-color: #BAE4D6">
                            <div style="padding-top: 10px"></div>
                            <b style="margin-left: 10px">Upcoming Appointment! </b>
                            <label style="margin-left: 10px">[Show details of next tutoring session]</label>
                            <div style="padding-bottom: 10px"></div>
                        </div>
                        <div class="col rounded mt-3" style="background-color: #BAE4D6">
                            <div style="padding-top: 10px"></div>
                            <b style="margin-left: 10px">Favorites: </b>
                            <br>
                            {% for favorite in favorites %}
                                <td><a type="button" style="text-decoration: none; margin-left: 10px; color: #1D634D" href="/view_tutors/{{favorite.tutor.id }}">★ {{ favorite.tutor.get_full_name }}</a></td>
                            <br>
                            {% endfor %}
                            <div style="padding-bottom: 10px"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% else %}
            <h1>Welcome to TutorMe</h1>
            <a class="btn btn-outline-primary" href="{% provider_login_url 'google' %}">Login with Google</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}