{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | Home{% endblock %}
{% block content %}
{% load static %}

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

<div class="container" style="margin-top: 50px; margin-bottom: 50px; max-width: 900px">
    {% if user.is_authenticated %}
    {% load socialaccount %}
    <div class="card">
        <div class="card-header">
            <b>Welcome, {{ user.first_name }}!</b>
        </div>
        <div class="card-body bg-light">
            {% if user.profile.is_tutor %}
                <div class="row rounded" style="margin-left: 5px">
                    <div class="col rounded" style="background-color: #cff1e5">
                        <label class="mt-2"><b>New Pending Requests!</b></label>
                        {% if recent_reqs is None %}
                            <div style="text-align: center">
                                <label>No requests to see.</label>
                            </div>
                        {% else %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Student</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for session in recent_reqs %}
                                    <tr>
                                    <td style="max-width: 70px"> {{ session.get_date }}<br>
                                    <td style="max-width: 120px"> {{ session.tutor_session.start_time }} to {{ session.tutor_session.end_time }}</td>
                                    <td style="max-width: 190px">
                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="View student profile">
                                            <a type="button" style="text-decoration: none; color: #1D634D" href="/requests_page/view_student/{{ session.student.id }}">
                                                <b>{{ session.student.user.get_full_name }}</b>
                                            </a>
                                        </span>
                                    </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <div class="col-5">
                        <div class="col rounded" style="background-color: #cff1e5">
                            <div style="padding-top: 10px"></div>
                            <b style="margin-left: 10px">Upcoming Appointment! </b>
                            {% if upcoming_apt is None %}
                                <label style="margin-left: 10px; padding-bottom: 10px">No upcoming appointments...</label>
                            {% else %}
                            <div style="margin-left: 10px; padding-bottom: 10px">
                                {% for session in upcoming_apt %}
                                    <div> {{ session.get_date }}, {{ session.tutor_session.day }} </div>
                                    <div> {{ session.tutor_session.start_time }} to {{ session.tutor_session.end_time }} </div>
                                    <div>
                                        Student:
                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="View student profile">
                                            <a type="button" style="text-decoration: none; color: #1D634D" href="/requests_page/view_student/{{ session.student.id }}">
                                                <b>{{ session.student.get_full_name }}</b>
                                            </a>
                                        </span>
                                    </div>
                                    <div>Note: {{ session.description }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if user.profile.is_student %}
                <div class="row rounded" style="margin-left: 5px">
                    <div class="col rounded" style="background-color: #cff1e5">
                        <div style="padding-top: 10px">
                            <b>View Recently Approved/Denied Requests!</b>
                        </div>
                        {% if recent_reqs is None %}
                            <div style="text-align: center">
                                <label>No requests to see.</label>
                            </div>
                        {% else %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Tutor</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for session in recent_reqs %}
                                    <tr>
                                    <td style="width: 100px"> {{ session.get_date }}<br>
                                    <td style="width: 220px">
                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="View tutor profile">
                                            <a type="button" style="text-decoration: none; color: #1D634D" href="/view_tutors/{{ session.tutor_session.tutor.id }}">
                                                <b>{{ session.tutor_session.tutor.get_full_name }}</b>
                                            </a>
                                        </span>
                                    </td>
                                    <td style="width: 100px">{{ session.status }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <div class="col-5">
                        <div class="col rounded" style="background-color: #cff1e5">
                            <div style="padding-top: 10px"></div>
                            <b style="margin-left: 10px">Upcoming Appointment! </b>
                            {% if upcoming_apt is None %}
                                <label style="margin-left: 10px; padding-bottom: 10px">No upcoming appointments...</label>
                            {% else %}
                            <div style="margin-left: 10px; padding-bottom: 10px">
                                {% for session in upcoming_apt %}
                                    <div> {{ session.get_date }}, {{ session.tutor_session.day }} </div>
                                    <div> {{ session.tutor_session.start_time }} to {{ session.tutor_session.end_time }} </div>
                                    <div>
                                        Tutor:
                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="View tutor profile">
                                            <a type="button" style="text-decoration: none; color: #1D634D" href="/view_tutors/{{ session.tutor_session.tutor.id }}">
                                                <b>{{ session.tutor_session.tutor.get_full_name }}</b>
                                            </a>
                                        </span>
                                    </div>
                                    <div>Note: {{ session.description }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="col rounded mt-3" style="background-color: #cff1e5">
                            <div style="padding-top: 10px"></div>
                            <b style="margin-left: 10px">Favorites: </b>
                            <br>
                            {% if favorites is None %}
                                <label style="margin-left: 10px">No tutors favorited yet!</label>
                            {% else %}
                            {% for favorite in favorites %}
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="View tutor profile">
                                    <td><a type="button" style="text-decoration: none; margin-left: 10px; color: #1D634D" href="/view_tutors/{{favorite.tutor.id }}"><b>★ {{ favorite.tutor.get_full_name }}</b></a></td>
                                </span>
                            <br>
                            {% endfor %}
                            {% endif %}
                            <div style="padding-bottom: 10px"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% else %}
        <!-- source: https://uiverse.io/cssbuttons-io/calm-tiger-4 -->
        <style>
        .button {
            display: inline-block;
            padding: 12px 24px;
            border: 1px solid #2F846A;
            background-color: #d1efe5;
            border-radius: 4px;
            transition: all 0.2s ease-in;
            position: relative;
            overflow: hidden;
            font-size: 19px;
            color: #0f4836;
            z-index: 1;
        }
        .button:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%) scaleY(1) scaleX(1.25);
            top: 100%;
            width: 140%;
            height: 180%;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 50%;
            display: block;
            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }
        .button:after {
            content: "";
            position: absolute;
            left: 55%;
            transform: translateX(-50%) scaleY(1) scaleX(1.45);
            top: 180%;
            width: 160%;
            height: 190%;
            background-color: #39bda7;
            border-radius: 50%;
            display: block;
            transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
            z-index: -1;
        }
        .button:hover {
            color: #ffffff;
            border: 1px solid #39bda7;
        }
        .button:hover:before {
            top: -35%;
            background-color: #39bda7;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }
        .button:hover:after {
            top: -45%;
            background-color: #39bda7;
            transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
        }
        </style>

        <div class="card">
            <div class="card-body bg-light">
                <div class="row mt-3 mb-2" style="margin-right: 10px; margin-left: 10px">
                    <div class="col align-self-center" align="center">
                        <h1 style="color: #0f4836">Welcome to TutorMe!</h1>
                        <label>Join the top tutoring site of 2023.</label>
                    </div>
                    <div class="col align-self-center" align="right" style="max-width: 400px">
                        <a class="button" style="text-decoration: none" href="{% provider_login_url 'google' %}">Login with Google</a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
</div>
{% endblock %}