{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | Profile{% endblock %}
{% block content %}
<div class="container" style="margin-top: 50px; margin-bottom: 50px; max-width: 900px">
    <div class="card">
        <div class="card-header">
            <h3 style="margin-top: 10px"> {{ user.profile.first_name }} {{ user.profile.last_name }}</h3>
        </div>
        <div class="card-body">
            {% load socialaccount %}
            {% if user.is_authenticated %}
                <label>Email: {{ user.email }}</label>
                {% if user.profile.is_tutor %}
                    <div class="row" style="margin-top: 10px">
                        <div class="col">
                            <label>Hourly Rate:
                            {% if user.profile.hourly_rate is None %}
                                Not set yet!
                            {% else %}
                                ${{ user.profile.hourly_rate }}
                            {% endif %}
                            </label>
                        </div>
                        <div class="col">
                            <label>Venmo:
                            {% if user.profile.venmo is None %}
                                Not set yet!
                            {% else %}
                                @{{ user.profile.venmo }}
                            {% endif %}
                            </label>
                        </div>
                    </div>
                {% endif %}
                {% if user.profile.is_student %}
                    <!-- Do we have anything specific to students? !-->
                {% endif %}
                <hr>
                <label>Bio: </label>
                {% if user.profile.bio is None %}
                    <p>You have not added a bio yet!</p>
                {% else %}
                    <p>{{ user.profile.bio }}</p>
                {% endif %}
                <hr>
                {% if user.profile.is_tutor %}
                    <div class="row">
                        <div class="col" style="border-right: 1px solid gainsboro">
                            <label style="margin-bottom: 10px">Courses:</label>
                            {% if courses is None %}
                                <div></div>
                                <label>You have not added any courses yet!</label>
                            {% else %}
                                {% for c in courses %}
                                    <div>
                                        - {{ c.subject }} {{ c.catalog_number }} {{ c.course_name }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col">
                            <label style="margin-bottom: 10px">Available Times:</label>
                            {% if tutor_sessions is None %}
                                <div></div>
                                <label>You have not added any available tutoring times yet!</label>
                            {% else %}
                                {% for s in tutor_sessions %}
                                    <div>
                                        - {{ s.day }}, {{ s.start_time }} to {{ s.end_time }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                <hr>
                {% endif %}
                <div style="float: right">
                    <td><a class="btn btn-outline-success" href="{% url 'edit_profile' %}">Edit Profile</a></td>
                    <td><a class="btn btn-outline-danger" href="delete/">Delete Account</a></td>
                </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
