{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | Profile{% endblock %}
{% block content %}
<div class="container col-6 py-5">
    <div class="card">
        <div class="card-header">
            <h3> {{ user.first_name }} {{ user.last_name }}</h3>
        </div>
        <div class="card-body">
            {% load socialaccount %}
            {% if user.is_authenticated %}
                <p>{{ user.email }}</p>
                {% if user.profile.is_tutor %}
                    <p>You are a tutor!</p>
{#                  add field displaying bio and edit bio button#}
                {% endif %}
                {% if user.profile.is_student %}
                    <p>You are a student!</p>
                {% endif %}
                <hr>
                Bio:
                {% if user.profile.bio is None %}
                    <p>You have not added a bio yet!</p>
                {% else %}
                    <p>{{ user.profile.bio }}</p>
                {% endif %}
                <hr>
{#                <a class="btn btn-outline-primary" href="{% url 'edit_profile' %}">Edit Profile</a>#}
            <td><a class="btn btn-outline-danger" href="delete/">Delete Account</a></td>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
