{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | View Tutor Profile{% endblock %}
{% block content %}

<form align="center" method="post" name="testSess">
  <header>Request Form</header>
  {% csrf_token %}
  <div> {{ form }} </div>
  <textarea class="form-control" name="comment" id="comment" columns="40" rows="3" placeholder="Provide any details about your request.."></textarea>
  <button type="submit" name="submitSess" class="btn btn-primary">Submit Request</button>
</form>
{% endblock %}