{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | Profile{% endblock %}
{% block content %}

<div class="container col-6 py-5">

<div class="card">
            <div class="card-header">
                <h3>Search for a Specific Tutor</h3>
            </div>

    <div class="card-body" id="searchC">
                <form action="#searchC" method="get">
                    {% csrf_token %}
                    <div class="row align-items-center">
                        <div class="col">
                            <label for="subject">Course Mnemonic</label>
                            <input name="subject" type="text" placeholder="ex. CS" maxlength="4">
                        </div>
                        <div class="col">
                            <label for="number">Course Number</label>
                            <input name="number" type="number" placeholder="ex. 3240" min="0" max="9999">
                        </div>
                        <div class="col">
                            <label for="first_name">Tutor First Name</label>
                            <input name="first_name" type="text" placeholder="ex. Mark" maxlength="32">
                        </div>
                        <div class="col">
                            <label for="last_name">Tutor Last Name</label>
                            <input name="last_name" type="text" placeholder="ex. Sherriff" maxlength="32">
                        </div>
                        <div class="col">
                            <div style="margin-top: 20px"></div>
                            <button type="submit" name="searchTutors" class="btn btn-success">Search</button>
                        </div>
                    </div>
                </form>
    </div>
<div>
{% for tutor in tutor_list %}
  <a class="list-group-item-active" align="center">
    <div id="box">
      <h5 class="mb-1"> <a href='/view_tutors/{{tutor.id}}'class="list-group-item">{{ tutor.last_name }}, {{ tutor.first_name }} </a> </h5>
    </div>
  </a>
{% endfor %}

    {% if tutor_list is None %}
    <div align="center">
        <h5>No tutor matches your specifications</h5>
    </div>
    {% endif %}
{% endblock %}
