{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | View Student Profile{% endblock %}
{% block content %}

<style>
    .slide_container {
        width: 100%;
    }
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 8px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .slider:hover {
        opacity: 1;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #04AA6D;
        cursor: pointer;
    }
    .slider::-moz-range-thumb {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #04AA6D;
        cursor: pointer;
    }
</style>

<div class="container" style="margin-top: 50px; margin-bottom: 50px; max-width: 1000px">
    <div class="card">
            <div class="card-header" style="text-align: center">
                <h3 style="margin-top: 10px"> {{ current_student.first_name }} {{ current_student.last_name }}</h3>
            </div>
        <div class="card-body bg-light">
                <div><b>Email:</b> {{ current_student.email }}</div>
            <div>
            <hr>
                    <b>Bio:</b>
                <div>{{ current_student.bio }}</div>
        </div>
        </div>
    </div>
        <div>
            <div class="border rounded bg-light">
                {% if not already_reviewed %}
                <div class="container" style="max-width: 900px">
                <h5 class="text-center mb-0 mt-3">Add a Review</h5>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            {{ review_form.comment }}
                        </div>
                        <div class="col" style="max-width: 330px;">
                            <div class="form-group row mb-2 mt-2">
                                <label for="rating" class="col-sm-2 col-form-label">Rating:</label>
                                <div class="col-sm-1 mt-2">
                                    <span id="demo"></span>
                                </div>
                                <div class="col-sm-8 align-items-center mt-2 ">
                                    <div class="slide_container">
                                        <input type="range" min="1" max="5" value="5" class="slider" name="rating" id="rating">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-3 mb-3">
                                <div class="btn-group" role="group">
                                    <input type="hidden" id="review" name="review" value="True">
                                    <button class="rounded btn btn-success" type="submit">Submit Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                {% endif %}
                <div class="container" style="max-width: 900px">
                <hr>
                {% if reviews is None %}
                    <div class="mb-3" style="text-align: center">
                        <label>There are no reviews for this student yet.</label>
                    </div>
                {% else %}
                    <div style="text-align: center"> <b>Average Rating:</b> {{ current_student.average_rating }} </div>
                <hr>
                {% for review in reviews %}
                    <div class="review">
                        <div class="row">
                            <div class="col">
                                <div class="rating">Rating:
                                    {% if review.rating is 5 %}
                                        ★★★★★
                                    {% elif review.rating is 4 %}
                                        ★★★★☆
                                    {% elif review.rating is 3 %}
                                        ★★★☆☆
                                    {% elif review.rating is 2 %}
                                        ★★☆☆☆
                                    {% elif review.rating is 1 %}
                                        ★☆☆☆☆
                                    {% endif %}
                                    ({{ review.rating }} stars)
                                </div>
                            </div>
                            <div class="col">
                                <div class="created_at" style="float: right">{{ review.created_at.date }}</div>
                            </div>
                        </div>
                        <div class="container" style="max-width: 750px">
                            <div class="comment">{{ review.comment }}</div>
                        </div>

                        {% if review.reviewer == user %}
                            <div style="text-align: right">
                                <a class="btn btn-outline-danger" href="{% url 'delete_review' review.id %}">Delete Review</a>
                            </div>
                        {% endif %}
                    </div>
                    <hr>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
</div>

<script>
    const slider = document.getElementById("rating");
    const output = document.getElementById("demo");
    output.innerHTML = slider.value;
    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>

{% endblock %}