{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | Profile{% endblock %}
{% block content %}

<div class="container mt-3">
{#    <h2 class="text-center mb-3">Tutor Search Page</h2>#}
    <div class="row">
        <div class="col-md-4">
        <div class="bg-light border rounded px-2 py-2">
            <h5 class="text-center mb-3 mt-2">Search Filters</h5>
            <hr>
            <div class="mt-3 " id="searchC">
                <form action="#searchC" method="GET">
                    {% csrf_token %}
                    <div class="form-group row mb-2">
                        <label for="subject" class="col-sm-4 col-form-label">Subject</label>
                        <div class="col-sm-8">
                            <input name="subject" type="text" class="form-control" placeholder="ex. CS" maxlength="4" value="{{ filter_subject }}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="course_number" class="col-sm-4 col-form-label">Course Number</label>
                        <div class="col-sm-8">
                            <input name="course_number" type="number" class="form-control" placeholder="ex. 3240" min="0" max="9999" value="{{ filter_course_number }}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="course_name" class="col-sm-4 col-form-label">Course Name</label>
                        <div class="col-sm-8">
                            <input name="course_name" type="text" class="form-control" placeholder="ex. Discrete Math" maxlength="32" value="{{ filter_course_name }}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="first_name" class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input name="first_name" type="text" class="form-control" placeholder="ex. Mark" maxlength="32" value="{{ filter_first_name }}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="last_name" class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input name="last_name" type="text" class="form-control" placeholder="ex. Sherriff" maxlength="32" value="{{ filter_last_name }}">
                        </div>
                    </div>
                    <div class="form-group row mb-2">
                        <label for="min_rating" class="col-sm-3 col-form-label">Min Rating:</label>
                        <div class="col-sm-1 mt-2">
                            <span id="min_rating_value" class="ml-2">{{ filter_min_rating }}</span>
                        </div>
                        <div class="col-sm-8 align-items-center mt-2 ">
                            <input type="range" class="form-range" min="0" max="5" step="1" id="min_rating" name="min_rating" value="{{ filter_min_rating }}">
                        </div>
                    </div>
                    <div class="form-group row mt-3 mb-3">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="submit" name="clearSearch" class="btn btn-secondary">Clear</button>
                            <button type="submit" name="searchTutors" class="btn btn-success">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="col-md-8 bg-light border rounded px-2 py-2">
            <h5 class="text-center mb-3 mt-2">Tutor Profiles</h5><hr>
            <div id="tutor-profiles">
                {# relevant profiles populated here #}
                {% if tutor_list is None %}
                    <div class="text-center py-3">
                        <h5>No tutor matches your specifications</h5>
                    </div>
                {% else %}
                   <div class="accordion" id="accordionExample">
                       {% for current_tutor in tutor_list %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ current_tutor.id }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ current_tutor.id }}" aria-expanded="false" aria-controls="collapse{{ current_tutor.id }}">
                                        <div class="container">
                                            {{ current_tutor.first_name }} {{ current_tutor.last_name }}
                                            - {% if current_tutor.hourly_rate is None %}
                                                Hourly rate not set!
                                            {% else %}
                                                ${{ current_tutor.hourly_rate }}/hr
                                            {% endif %}
                                            - Average rating:
                                            {% if current_tutor.average_rating is 0 %}
                                                Not rated yet!
                                            {% else %}
                                                {{ current_tutor.average_rating }}/5.0
                                            {% endif %}
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapse{{ current_tutor.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ current_tutor.id }}" data-bs-parent="#tutorAccordion">
                                    <div class="accordion-body">
                                        <div>
                                            Bio:
                                        </div>
                                        <div>
                                            {{ current_tutor.bio }}
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col" style="border-right: 1px solid gainsboro">
                                                <label>Courses I tutor for:</label>
                                                {% if current_tutor.courses is None %}
                                                    <label>This tutor has not added any courses yet!</label>
                                                {% else %}
                                                    {% for c in current_tutor.courses %}
                                                        <div>- {{ c.subject }} {{ c.catalog_number }} {{ c.course_name }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col">
                                                <label>Times I am available:</label>
                                                {% if current_tutor.tutor_sessions is None %}
                                                    <label>This tutor has not added any times yet!</label>
                                                {% else %}
                                                    {% for s in current_tutor.tutor_sessions %}
                                                        <div>- {{ s.day }}, {{ s.start_time }} to {{ s.end_time }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="btn-group mt-2" role="group">
                                                <a type="button" class="btn btn-success" href="/view_tutors/{{ current_tutor.id }}">View Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('#searchC form');
        const searchButton = document.querySelector('button[name="searchTutors"]');

        form.addEventListener('keypress', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                searchButton.click();
            }
        });
    });

  document.getElementById("min_rating").addEventListener("input", function() {
      document.getElementById("min_rating_value").innerHTML = this.value;
  });
</script>

{% endblock %}
