{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Tutor Me | View Tutor Profile{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 50px; margin-bottom: 50px; max-width: 1000px">
        <div class="card">
            <div class="card-header" style="text-align: center">
                <h3 style="margin-top: 10px"> {{ current_tutor.first_name }} {{ current_tutor.last_name }}</h3>
                <div style="position: absolute; right: 15px; top: -20px">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% if not is_fav %}
                            <input type="hidden" name="not_favorite" value="True" style="outline: none; background-color: transparent">
                            <button type="submit" class="btn" style="font-size: 350%; color: #2F846A">☆︎</button>
                        {%else%}
                            <input type="hidden" name="favorite" value="True" style="outline: none; background-color: transparent">
                            <button type="submit" class="btn" style="font-size: 350%; color: #2F846A">★</button>
                        {%endif%}
                    </form>
                </div>
            </div>
            <div class="card-body bg-light">
                <div>Email: {{ current_tutor.email }}</div>
                <div class="row" style="margin-top: 10px">
                    <div class="col">
                        <label>
                            Hourly Rate:
                            {% if current_tutor.hourly_rate is None %}
                                Not set yet!
                            {% else %}
                                ${{ current_tutor.hourly_rate }}
                            {% endif %}
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Venmo:
                            {% if current_tutor.venmo is None %}
                                Not set yet!
                            {% else %}
                                @{{ current_tutor.venmo }}
                            {% endif %}
                        </label>
                    </div>
                </div>
                <div>
                    <hr>
                    Bio:
                </div>
                <div>{{ current_tutor.bio }}</div>
                <hr>
                <div class="row">
                    <div class="col" style="border-right: 1px solid gainsboro">
                        <label>Courses I tutor for:</label>
                        {% if tutor_courses is None %}
                            <div></div>
                            <label>This tutor has not added any courses yet!</label>
                        {% else %}
                            {% for c in tutor_courses %}<div>- {{ c.subject }} {{ c.catalog_number }} {{ c.course_name }}</div>{% endfor %}
                        {% endif %}
                    </div>
                    <div class="col">
                        <label>Available Sessions:</label>
                        {% if tutor_sessions is None %}
                            <label>This tutor has not added any times yet!</label>
                        {% else %}
                            {% for session in tutor_sessions %}
                                {% comment %} from https://getbootstrap.com/docs/5.0/components/modal/#exampleModalLongTitle {% endcomment %}
                                <div class="row border my-0 justify-content-center">
                                    <div class="col-md-8 mt-1"> {{ session.day }}, {{ session.start_time }} to {{ session.end_time }} </div>
                                    <div class="col-md-4" style="text-align: right">
                                        <a href= "/view_tutors/req_session/{{session.id}}/" class="btn btn-sm btn-outline-dark" style="width: 90px">Request</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="border rounded bg-light">
                {% if not already_reviewed %}
                <div class="container" style="max-width: 900px">
                <h5 class="text-center mb-0 mt-3">Add a Review</h5>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            {{ review_form.comment }}
                        </div>
                        <div class="col" style="max-width: 330px;">
                            <div class="form-group row mb-2 mt-2">
                                <label for="rating" class="col-sm-2 col-form-label">Rating:</label>
                                <div class="col-sm-1 mt-2">
                                    <span id="rating_value" class="ml-2">5</span>
                                </div>
                                <div class="col-sm-8 align-items-center mt-2 ">
                                    {{ review_form.rating }}
                                </div>
                            </div>
                            <div class="form-group row mt-3 mb-3">
                                <div class="btn-group" role="group">
                                    <input type="hidden" id="review" name="review" value="True">
                                    <button class="rounded btn btn-secondary" type="submit">Submit Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                {% endif %}
                <div class="container" style="max-width: 900px">
                <hr>
                {% if reviews is None %}
                    <div class="mb-3" style="text-align: center">
                        <label>There are no reviews for this tutor yet.</label>
                    </div>
                {% else %}
                    <div style="text-align: center"> Average Rating: {{ current_tutor.average_rating }} </div>
                <hr>
                {% for review in reviews %}
                    <div class="review">
                        <div class="row">
                            <div class="col">
                                <div class="rating">Rating:
                                    {% if review.rating is 5 %}
                                        ★★★★★
                                    {% elif review.rating is 4 %}
                                        ★★★★☆
                                    {% elif review.rating is 3 %}
                                        ★★★☆☆
                                    {% elif review.rating is 2 %}
                                        ★★☆☆☆
                                    {% elif review.rating is 1 %}
                                        ★☆☆☆☆
                                    {% endif %}
                                    ({{ review.rating }} stars)
                                </div>
                            </div>
                            <div class="col">
                                <div class="created_at" style="float: right">{{ review.created_at }}</div>
                            </div>
                        </div>
                        <div class="container" style="max-width: 750px">
                            <div class="comment">{{ review.comment }}</div>
                        </div>

                        {% if review.reviewer == user %}
                            <div style="text-align: right">
                                <a class="btn btn-outline-danger" href="{% url 'delete_review' review.id %}">Delete Review</a>
                            </div>
                        {% endif %}
                    </div>
                    <hr>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>

<script>
  document.getElementById("rating").addEventListener("input", function() {
      document.getElementById("rating_value").innerHTML = this.value;
  });
</script>
    {% endblock %}


